<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728146355489-anf9e8e11tgubq1j397kmc5j668s3tmc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728146355489-anf9e8e11tgubq1j397kmc5j668s3tmc</string>
	<key>API_KEY</key>
	<string>AIzaSyANQtsuBay3iFLyTk6eK7e1kMzMTibB8qU</string>
	<key>GCM_SENDER_ID</key>
	<string>728146355489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.globiance.iosdevappsotatek</string>
	<key>PROJECT_ID</key>
	<string>globiancetest</string>
	<key>STORAGE_BUCKET</key>
	<string>globiancetest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728146355489:ios:ab97190fe93697ae264a60</string>
</dict>
</plist>