<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83931082922-d304qne73rs2l0bv6o4t370r0r0fdsk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83931082922-d304qne73rs2l0bv6o4t370r0r0fdsk6</string>
	<key>API_KEY</key>
	<string>AIzaSyAxO5DmTkZ0KJd9PtJE2x0YG8dvvUgXbC8</string>
	<key>GCM_SENDER_ID</key>
	<string>83931082922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.globiance.iosapp</string>
	<key>PROJECT_ID</key>
	<string>globiance-f9fc6</string>
	<key>STORAGE_BUCKET</key>
	<string>globiance-f9fc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83931082922:ios:d882671692d2a7b4e6e0d3</string>
</dict>
</plist>